<?php

$finder = PhpCsFixer\Finder::create()
    ->in('app')
    ->in('src')
    ->in('web')
;

return (new PhpCsFixer\Config())
    ->setRiskyAllowed(true)
    ->setRules([
        '@PhpCsFixer'       => true,
        '@PhpCsFixer:risky' => true,
        'no_superfluous_phpdoc_tags' => false,
    ])
    ->setFinder($finder)
;
