{{define "content"}}
    {{if eq .Locale "ru"}}
    <div id="news">
        01.2021 Подготовлена новая версия тезауруса RuWordNet 2.0.
        Версия включает 133 745 уникальных слов и словосочетаний, 154 111 значений.
        Версия создана при поддержке фонда РФФИ (грант 18-00-01226 в составе комплексного проекта 18-00-01240&nbsp;(K))
    </div>
    {{end}}
    <div id="homepage">
        {{.LocaleText}}
    </div>
{{end}}
