<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form action="/search" class="form-inline">
            <div class="form-group">
                <input class="form-control" name="senseName" type="text" value="{{ senseName }}">
                <input type="submit" value="Search" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>