{% import 'Site/macro/sense.html.twig' as _sense %}

{% set relations = sense.getGroupedRelatedSenses() %}
{% if relations %}
    <div class="synset summary">
        <header>
            <h1 data-toc-text="{{ sense.name }}">
                {{ 'sense'|trans|capitalize }}
            </h1>
        </header>
        <div class="relations">
            {% for groupName, senses in relations %}
                <div class="relation">
                    <header><h2>{{ groupName|trans }}</h2></header>
                    {{ _sense.senseList(senses, sense) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
