{% macro senseList(senses, currentSense) %}
    <div class="sense-list">
        {% for sense in senses %}
            <div class="sense">
                {% if sense.is(currentSense) %}
                    <strong>{{ sense.name }}</strong>
                {% else %}
                    <a href="{{ path('search', { searchString: sense.name }) }}">{{ sense.name }}</a>
                {%- endif %}
                {{- loop.last ? '' : ',' }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}
