{% extends "Site/layout.html.twig" %}

{% block content %}
    <div id="homepage">
		{% set loc = app.locale == 'ru' ? 'ru' : 'en' %}
        {% include 'Site/parts/translations/homepage_text.' ~ loc ~ '.html' %}
    </div>
{% endblock %}
