{% extends "Site/layout.html.twig" %}

{% block content %}
    <div class="lexeme-page">
        {% if senses is not empty %}
            <header><h1>{{ searchString }}</h1></header>
            {% for sense in senses %}
                {% include 'Site/parts/sense_info_new.html.twig' with {'sense': sense} only %}
                {% set synsetData = {
                'synset': sense.getSynset(),
                'currentSense': sense
                } %}
                {% include 'Site/parts/synset_summary.html.twig' with synsetData only %}
            {% endfor %}
        {% else %}
            <h4>По запросу «{{ searchString }}» ничего не найдено</h4>
        {% endif %}
    </div>
{% endblock %}