$border: solid 1px hsl(0, 0%, 80%);
$border-light: solid 1px hsl(0, 0%, 90%);

body {
    background: #f5f5f5;
}

a {
    cursor: pointer;
}

.container {
    //max-width : 730px;
}

#toc {
    margin-top: 20px;
}

#search-form .input-group {
    min-width: 300px;
}
/* small screens */
@media (max-width: 768px) {
    /* override the Affix plugin so that the navigation isn't sticky */
    nav.affix[data-toggle='toc'] {
        position: static;
    }
    /* display the second-level nav */
    nav[data-toggle='toc'] .nav .nav {
        display: block;
    }

    #toc {
        margin-top: 0;
    }

    .navbar {
        margin-bottom: 0;
    }
}

.lexeme-page {
    padding: 15px;
    background: #fff;
    border: solid 1px #ddd;

    .lexeme-title {
        margin-top: 0;
        border-bottom: solid 2px #eee;
        text-align: center;
    }

    .sense-title {
        background: #efefef;
        margin-left: -15px;
        margin-right: -15px;
        padding: 5px 15px;
    }

    .relations-subjects,
    .synonyms {
        counter-reset: synset_list;

        .sense-list:before {
            content: counter(synset_list);
            counter-increment: synset_list;
            color: #999;
            font-family: monospace;
            margin-right: 10px;
        }
    }

    .sense-list {
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
        margin: -1px -15px;
        padding: 5px 15px 5px 20px;
        border: solid 1px #f0f0f0;
        border-left: none;
        border-right: none;

        &:hover {
            // white-space: normal;
            background: #ebebeb;
            border-color: #ddd;
        }

        .sense {
            display: inline;
            font-size: 13px;
        }
    }
}

footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: 0.05rem solid #e5e5e5;
}
